.li-nav {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #344563;
    
  }

.nav-logo {
    color: #6070ff;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 700;
}

.hero-image {
  background-image: url(./images/header-bg.png);
  background-repeat: no-repeat;
  background-size:contain;
  height: 80vh;
  margin: 0 50px;
}

.hero-text {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #172b4d;
  }

.tonic {
    margin: 0;
    color: #172b4d;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
}

.info-icons h4 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 16px;
}

.info-icons-p2 {
  color: #7a869a;
}

.info-icons-p1 {
  color: #344563;
}
.lang {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 8px;
  width: 203px;
  height: 24px;
  list-style: none;
}

.lang li {
  background: #ebebff;
  border-radius: 8px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
  padding: 4px 12px;
}